<section class="content">
  <div>
    <hr>
    <p>
      <span> Headmaster: {{resData?.firstName}} {{resData?.lastName}}</span>
      <br>
      <span> Creation date: {{resData?.house.osbb.creationDate | date:["fullDate"]}}</span>
      <br>
      <span> Address: {{resData?.house.street.city.region.name}} {{resData?.house.street.city.name}}
        {{resData?.house.street.name}} {{resData?.house.numberHouse}}</span>
      <br>
      <span> District: {{resData?.house.osbb.district.name}}</span>
      <br>
    </p>
  </div>
</section>
