<div class="content">
  <breadcrumb [header]="title"></breadcrumb>
    <div id="example_filter" class="pull-right dataTables_filter" style="margin-top:-25px;margin-right:10px">
      <input type="search" (keyup)="findTicketByName(findName.value)" #findName class="form-control input-sm"
             placeholder="{{'find'}}..." aria-controls="example">
    </div>

  <span class="label btn-round label-danger"
        style="cursor:pointer;float:right;margin-left: 5px;margin-right:15px"
        (click)="findTicketByState('DONE')">{{ 'done'}}</span>
  <span class="label btn-round label-success" style="cursor:pointer;float:right;margin-left: 5px;"
        (click)="findTicketByState('IN_PROGRESS')">{{ 'in_progress' }}</span>
  <span class="label btn-round label-info" style="cursor:pointer;float:right;margin-left: 15px;"
        (click)="findTicketByState('NEW')">{{ 'new'}}</span>
  <div  class="btn-group" style="float:right;">
    <button type="button" class="btn btn-default  btn-xs" style="background:#F0FFFF;"
            (click)="getTicketsByPageNum(1,10)">{{ 'all'}}
    </button>
    <button type="button" class="btn btn-default  btn-xs" (click)="findMyTickets()">
      {{'my_tickets' }}
    </button>
    <button type="button" class="btn btn-default  btn-xs" (click)="findMyAssigned()">
      {{'my_assign'}}
    </button>
  </div>


  <table class="table table-striped table-advance table-hover" style="table-layout: fixed;">
    <thead>
    <tr>
      <th class="sorting" style="width:25%"><i class="fa fa-bullhorn"> </i> {{'nameTicket'}}
        <a style="{cursor:pointer}" (click)="sortBy('name')">
          <span class="fa fa-fw fa-sort pull-left"></span></a>
      </th>
      <th class="sorting" style="width:15%;min-width:3%"><i class=" fa fa-edit"></i>
        {{'authorTicket'}}
        <a style="{cursor:pointer}" (click)="sortBy('user')">
          <span class="fa fa-fw fa-sort pull-left"></span></a></th>
      <th class="sorting" style="width:15%;min-width:3%"><i class=" fa fa-edit"></i>
        {{'dateTicket'}}
        <a style="{cursor:pointer}" (click)="sortBy('time')">
          <span class="fa fa-fw fa-sort pull-left"></span></a></th>
      <th class="sorting" style="width:15%;min-width:10%">
        <i class=" fa fa-edit"></i> {{'answer'}}
        <a style="{cursor:pointer}" (click)="sortBy('assigned')">
          <span class="fa fa-fw fa-sort pull-left"></span></a></th>
      <th class="sorting" style="width:10%;"><i class=" fa fa-edit"></i>
        {{'state'}}
        <a style="cursor:pointer;width:8%;min-width:8%" (click)="sortBy('state')">
          <span class="fa fa-fw fa-sort pull-left"></span></a></th>
      <th class="sorting" style="width:10%;min-width:10%"><i class=" fa fa-edit"></i>
        {{'discussed' }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of resData">
      <td style="cursor: pointer" class="nameTabl"><a class="nameTablA" (click)="subTicketNavigation(item.ticketId)">
        {{item.name}}</a>
      </td>
      <td style="width:30px;">{{item.user.firstName}} {{item.user.lastName}}</td>
      <td>
        {{item.time | date:'fullDate' }}
      </td>
      <td style="margin: 15px;">{{item.assigned.firstName}} {{item.assigned.lastName}}</td>
      <td>
        <div *ngIf=" item.state == 'NEW' || item.state == '0'  ">
          <span class="label btn-round label-info " style="margin: 5px;"
                list="assign">{{ 'new'  }}
          </span>
        </div>
        <div *ngIf=" item.state == '1' || item.state == 'IN_PROGRESS'">
          <span class="label btn-round label-success" style=" text-align: center;margin: 5px;">{{ 'in_progress'  }}</span>

        </div>
        <div *ngIf=" item.state == '2' || item.state == 'DONE'">
          <span class="label btn-round label-danger"
              style=" text-align: center;margin: 5px;">{{ 'done'  }}</span>
        </div>
      </td>
      <td>
        <div *ngIf="item.discussed == null">
          {{ 'no' }}
        </div>
        <div *ngIf="item.discussed != null">
          {{ 'yes'}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<div>&nbsp;</div>
</div>
`
